{% extends "layouts/base.html" %}

{% block title %} Contact Details {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}<link rel="stylesheet" type="text/css"
    href="/static/assets/css/jane.css" /> {% endblock stylesheets %}

{% block content %}

<div class="yoo-content yoo-style1">

    <div class="yoo-height-b30 yoo-height-lg-b30"></div>
    <div class="container">
        <div class="yoo-uikits-heading">
            <h2 class="yoo-uikits-title">Settings</h2>
        </div>
    </div>
    <div class="yoo-height-b30 yoo-height-lg-b30"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="yoo-card yoo-style1">
                    <div class="yoo-card-heading">
                        <div class="yoo-card-heading-left">
                            <h2 class="yoo-card-title">My Profile</h2>
                        </div>
                    </div>
                    <form class='col mt-4' method="POST">

                        <div class="row">
                            {{ form.hidden_tag() }}

                            {% for field in form
                            if field.widget.input_type != 'hidden' %}

                            {% if field.type == "BooleanField" %}

                            <div class="custom-control custom-checkbox col-md-6
                                d-flex justify-content-center
                                align-self-center">
                                {{field(class_="custom-control-input")}}
                                {{field.label(class_="custom-control-label")}}
                                {% for err in field.errors %}
                                <small class="form-text text-danger">
                                    {{err}}
                                </small>
                                {% endfor %}
                            </div>
                            {% else %}
                            <div class="form-group col-md-6">
                                {{field.label}}
                                {{field(class_="form-control")}}
                                {% for err in field.errors %}
                                <small class="form-text text-danger">
                                    {{err}}
                                </small>
                                {% endfor %}
                            </div>

                            {% endif %}


                            {% endfor %}

                        </div>


                        <div class="modal-footer">
                            <button class="btn btn-success mr-2"
                                id="profile-edit" type= 'button'>Edit</button>
                            <button type="submit" class="btn
                                btn-primary" id="profile-save">Save</button>
                        </div>

                    </form>


                </div>

            </div>

            <!-- .col -->
        </div>
    </div>
    <div class="yoo-height-b60 yoo-height-lg-b60"></div>



    {% include 'includes/footer.html' %}

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/apexcharts.min.js"></script>
<script src="/static/assets/js/apexcharts.initialize.js"></script>

{% endblock javascripts %}
