{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <form class='col-4' method="POST" enctype="multipart/form-data">

        {{ form.hidden_tag() }}

        {% for field in form
        if field.widget.input_type != 'hidden' %}

        <div class="form-group">
            {{field.label}}
            {{field(class_="form-control")}}
            {% for err in field.errors %}
            <small class="form-text text-danger">
                {{err}}
            </small>
            {% endfor %}
        </div>
        {% endfor %}

    </form>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}