<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="YooKits" />
    <!-- Page Title -->
    <title>
        Flask iDashboard PRO - {% block title %}{% endblock %} | AppSeed        
    </title>
    <!-- Favicon Icon -->
    <link rel="icon" href="/static/assets/img/favicon.png">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/assets/css/fontawesome.css" />

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

    <link rel="stylesheet" type="text/css" href="/static/assets/css/iDashboard.css" />

</head>

<body class="yoo-fixed-bg" style="background-image: url(/static/assets/img/bg.jpg);">

    <div class="yoo-height-b60 yoo-height-lg-b60"></div>

    <!-- Top Bar -->
    {% include 'includes/navigation.html' %}

    <!-- SideBar -->
    {% include 'includes/sidebar-bkg-image.html' %}

    {% block content %}{% endblock content %}

    <!-- Required Scripts -->
    <script src="/static/assets/js/jquery-1.12.4.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/smooth-scrollbar.js"></script>

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

    <script src="/static/assets/js/iDashboard.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

</body>
</html>
